<% include _header %>
    <div class="container">
      <div class="row">
        <div class="card">
          <!-- LOGO ROW -->
          <div class="row">
            <div class="col-md-5"></div>
            <div class="logo-wrapper col-md-2">
              <div class="col-md-1"></div>
              <img class="col-md-10" src="/images/crosshair-logo.svg"/>
            </div>
          </div>

          <div class="space-after"></div>

          <!--  HEADER ROW -->
          <!-- <div class="row">
            <div class="col-md-3"></div>
            ==== No need to show current user for Crosshair display ====================================
            ============================================================================================
            <span class="col-md-6 title text-center">Logged in as <span id="display-name"></span></span>
            ============================================================================================
            ============================================================================================
            ==== No need for logout button for Crosshair display =======================================
            ============================================================================================
            <div class="col-md-1"></div>

            <a id="logout-button" class="logout-button btn col-md-2">Logout</a>
            ============================================================================================
            ============================================================================================
          </div> -->

          <!--  DESCRIPTION ROW -->
          <div class="row">
            <div class="col-md-2"></div>
            <p class="description col-md-8 text-center">
              Join Crosshair Music in using
              the recommendation algorithm behind Spotify to build a playlist out
              of seemingly disconnected genres, moods, tempos, etc. It's amazing
              to discover how seemingly unrelated things can create something
              beautiful
            </p>
          </div>

          <div class="space-after"></div>

          <!-- GENRE BUTTON ROW -->
          <div class="row">
            <div class="col-md-4"></div>
              <button class="btn col-md-4" data-toggle="modal" data-target="#genre-select" onclick="getGenresList();">Choose genres</button>

          </div>

          <div class="space-after"></div>

          <div class="row">
            <div class="col-md-2"></div>

          </div>

          <!--  SWITCHES SECTION -->
          <div class="row">
            <div class="col-md-2"></div>
            <p class="mode-label col-md-2">Major - Minor</p>
            <div class="col-md-4"></div>
            <p class="tempo-label col-md-4">Tempo (0 - 200)</p>
          </div>
          <div class="row">
            <div class="col-md-2"></div>
            <div onclick="getRecommendations();">
              <label class="switch col-md-2">
                <input id="mode-value" type="checkbox" checked />
                <span class="mode-slider round"></span>
              </label>
            </div>
            <div class="col-md-4"></div>
            <div class="tempo-section col-md-3">
              <div class="tempo-slider" id="tempo-slider"></div>
            </div>
          </div>

          <!--  END SWITCHES SECTION -->

          <div class="space-after"></div>

          <!-- FADERS SECTION -->
          <!-- <div class="row">
            <div class="col-md-3"></div>
            <p class="instructions text-center col-md-6">
              Drag the faders to adjust the parameters!
            </p>
          </div> -->


          <!-- FADERS TOP ROW -->
          <div class="row">
            <div class="col-md-2"></div>
            <div class="prefs-content col-md-1 text-center">
              <div>
                <span id="popularity-value"></span>
              </div>
            </div>

            <div class="prefs-content col-md-1 text-center">
              <div>
                <span id="positivity-value"></span>
              </div>
            </div>

            <div class="prefs-content col-md-1 text-center">
              <div>
                <span id="energy-value"></span>
              </div>
            </div>

            <div class="prefs-content col-md-1 text-center">
              <div>
                <span id="acousticness-value"></span>
              </div>
            </div>

            <div class="prefs-content col-md-1 text-center">
              <div>
                <span id="danceability-value"></span>
              </div>
            </div>

            <div class="prefs-content col-md-1 text-center">
              <div>
                <span id="instrumentalness-value"></span>
              </div>
            </div>

            <div class="prefs-content col-md-1 text-center">
              <div>
                <span id="liveness-value"></span>
              </div>
            </div>

            <div class="prefs-content col-md-1 text-center">
              <div>
                <span id="speechiness-value"></span>
              </div>
            </div>

          </div>

            <div class="row">
              <div class="col-md-2"></div>
              <div class="prefs-section col-md-1">
                <div class="prefs-slider" id="popularity-slider"></div>
              </div>
              <div class="prefs-section col-md-1">
                <div class="prefs-slider" id="positivity-slider"></div>
              </div>
              <div class="prefs-section col-md-1">
                <div class="prefs-slider" id="energy-slider"></div>
              </div>
              <div class="prefs-section col-md-1">
                <div class="prefs-slider" id="acousticness-slider"></div>
              </div>
              <div class="prefs-section col-md-1">
                <div class="prefs-slider" id="danceability-slider"></div>
              </div>
              <div class="prefs-section col-md-1">
                <div class="prefs-slider" id="instrumentalness-slider"></div>
              </div>
              <div class="prefs-section col-md-1">
                <div class="prefs-slider" id="liveness-slider"></div>
              </div>
              <div class="prefs-section col-md-1">
                <div class="prefs-slider" id="speechiness-slider"></div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"></div>
              <p class="prefs-text col-md-1 text-center">Popularity</p>
              <p class="prefs-text col-md-1 text-center">Positivity</p>
              <p class="prefs-text col-md-1 text-center">Energy</p>
              <p class="prefs-text col-md-1 text-center">Acousticness</p>
              <p class="prefs-text col-md-1 text-center">Danceability</p>
              <p class="prefs-text col-md-1 text-center">Instrumentalness</p>
              <p class="prefs-text col-md-1 text-center">Liveness</p>
              <p class="prefs-text col-md-1 text-center">Speechiness</p>
            </div>

          <!-- </div> -->

          <div class="space-after"></div>

          <!-- SUBMIT BUTTON -->
          <div class="row">
            <div class="col-md-1"></div>
            <button id="submit-button" type="submit" data-toggle="modal" data-target="#playlist-setup" class="submit-button col-md-4 btn">Create new playlist</button>
            <div class="col-md-2"></div>
            <button id="tracks-button" type="submit" data-toggle="modal" data-target="#success-prompt" class="tracks-button col-md-4 btn">Add to playlist</button>
          </div>

          <!--  TRACKS BUTTON -->
          <div class="row">
          </div>
        </div>
        <!--  BOTTOM OF CARD -->
      </div>
        <!--  MODALS -->
          <!-- GENRE MODAL -->
          <div class="modal fade" id="genre-select">
            <div class="modal-dialog">
              <div class="modal-content">

                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Select genres</h4>
                  <p>Make sure you hit 'Okay' button at bottom!</p>
                </div>

                <div class="modal-body">
                  <div id="genres-list" data-toggle="buttons">
                    <label class="btn">
                      <!-- Buttons for each genre to be appended here -->
                    </label>
                  </div>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn" data-dismiss="modal" onclick="getRecommendations();">Okay!</button>
                </div>

              </div>
            </div>
          </div>
          <!--  END GENRE MODAL -->

          <!-- PLAYLIST SETUP MODAL -->
          <div class="modal fade" id="playlist-setup">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Please provide the following information:</h4>
                </div>
                <div class="form">
                  <div class="modal-body">
                    <div class="form-group">
                      <label for="playlist-name">Playlist Name</label>
                      <input type="text" class="form-control" id="playlist-name" placeholder="Playlist Name">
                    </div>
                    <div class="form-group">
                      <label for="playlist-description">Give your playlist a description...</label>
                      <textarea type="text" class="form-control" id="playlist-description" rows="3"></textarea>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" type="submit" class="btn" data-dismiss="modal" onclick="newPlaylist();">Create Playlist</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--  -->

          <!--  SUCCESS MODAL -->

          <div class="modal fade" id="success-prompt">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">You did it!</h4>
                </div>
                <div class="modal-body">
                  <p>Tracks will display here</p>
                  <div id="tracks">
                    <h4>Select some genres</h4>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn" data-dismiss="modal" onclick="addTracks();">GEt OutttttttTTT</button>
                </div>
              </div>
            </div>
          </div>
          <!--  END SUCCESS MODAL -->

        <!--  END MODALS-->
      <div class="col-md-4"></div>
        <button style="margin-bottom: 3rem;" id="clear-button" type="submit" class="clear-button col-md-4 btn">Clear Locals</button>
      <div class="col-md-4"></div>

    </div>
<% include _footer %>
