<% include _header %>

    <div class="container">

      <div class="space-after"></div>

      <div class="row">
        <div class="card">

          <!--  HEADER ROW -->
          <div class="row">
            <div class="col-md-3"></div>
            <span class="col-md-6 title text-center">Logged in as <span id="display-name"></span></span>
            <!-- No need for logout button for Crosshair display =======================================
            ============================================================================================
            <div class="col-md-1"></div>

            <a id="logout-button" class="logout-button btn col-md-2">Logout</a>
            ============================================================================================
            ======================================================================================== -->
          </div>

          <!--  DESCRIPTION ROW -->
          <div class="row">
            <div class="col-md-2"></div>
            <p class="description col-md-8 text-center">
              Join Crosshair Music in using
              the recommendation algorithm behind Spotify to build a playlist out
              of seemingly disconnected genres, moods, tempos, etc. It's amazing
              to discover how seemingly unrelated things can create something
              beautiful
            </p>
          </div>

          <div class="space-after"></div>

          <!-- GENRE BUTTON ROW -->
          <div class="row">
            <div class="col-md-4"></div>
              <button class="btn col-md-4" data-toggle="modal" data-target="#genre-select" onclick="getGenresList();">Choose genres</button>
            <!-- GENRE MODAL -->
            <div class="modal fade" id="genre-select">
              <div class="modal-dialog">
                <div class="modal-content">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Select genres</h4>
                    <p>Make sure you hit 'Okay' button at bottom!</p>
                  </div>

                  <div class="modal-body">
                    <div id="genres-list" data-toggle="buttons">
                      <label class="btn">
                        <!-- Buttons for each genre to be appended here -->
                      </label>
                    </div>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal" onclick="getRecommendations();">Okay!</button>
                  </div>

                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <!--  END GENRE MODAL -->
          </div>

          <div class="space-after"></div>

          <!-- FADERS SECTION -->
          <div class="row">
            <div class="col-md-3"></div>
            <p class="instructions text-center col-md-6">
              Drag the faders to adjust the parameters!
            </p>
          </div>

          <!-- FADERS TOP ROW -->
          <div class="row">
            <div class="prefs-section col-md-3 text-center">
              <div class="prefs-slider" id="popularity-slider"></div>
              <p class="prefs-text">Popularity</p>
            </div>

            <div class="prefs-section col-md-3 text-center">
              <div class="prefs-slider" id="positivity-slider"></div>
              <p class="prefs-text">Positivity</p>
            </div>

            <div class="prefs-section col-md-3 text-center">
              <div class="prefs-slider" id="energy-slider"></div>
              <p class="prefs-text">Energy</p>
            </div>

            <div class="prefs-section col-md-3 text-center">
              <div class="prefs-slider" id="acousticness-slider"></div>
              <p class="prefs-text">Acousticness</p>
            </div>
          </div>

          <!--  FADERS BOTTOM ROW -->
          <div class="row">
            <div class="prefs-section col-md-3 text-center">
              <div class="prefs-slider" id="danceability-slider"></div>
              <p class="prefs-text">Danceability</p>
            </div>

            <div class="prefs-section col-md-3 text-center">
              <div class="prefs-slider" id="instrumentalness-slider"></div>
              <p class="prefs-text">Instrumentalness</p>
            </div>

            <div class="prefs-section col-md-3 text-center">
              <div class="prefs-slider" id="liveness-slider"></div>
              <p class="prefs-text">Liveness</p>
            </div>

            <div class="prefs-section col-md-3 text-center">
              <div class="prefs-slider" id="speechiness-slider"></div>
              <p class="prefs-text">Speechiness</p>
            </div>
          </div>

          <!-- SUBMIT BUTTON -->
          <div class="row">
            <div class="col-md-4"></div>
            <button id="submit-button" type="submit" class="submit-button col-md-4 btn">Add to playlist</button>
          </div>
        </div>
        <!--  BOTTOM OF CARD -->
      </div>



    </div>
<% include _footer %>
