<% include _header %>
    <div class="container">
      <div class="row">
        <div class="card">

          <div class="space-after"></div>

          <!--  DESCRIPTION ROW -->
          <div class="row">
            <div class="col-md-2"></div>

          </div>
          <!--  END DESCRIPTION ROW -->
          <div class="space-after"></div>

          <!-- TOP SECTION -->
          <div class="row">
            <div class="col-md-2"></div>

            <!-- TRACKS DISPLAY -->
            <div id="tracks-display" class="tracks-display col-md-6">
              <div id="tracks">
                <p class="text-center">
                  Join Crosshair Music in using
                  the recommendation algorithm behind Spotify to build a playlist out
                  of seemingly disconnected genres, moods, tempos, etc. It's amazing
                  to discover how seemingly unrelated things can create something
                  beautiful
                </p>
                <p class="text-center">Select some genres to get started...</p>
              </div>
            </div>
            <!-- END TRACKS DISPLAY -->

            <!-- LOGO AND SUBMIT PANE -->
            <div class="col-md-2" id="add-tracks">

                <div class="row">
                  <div class="col-md-1"></div>
                  <img class="logo col-md-10" src="/images/crosshair-logo.svg"/>
                  <div class="col-md-1"></div>
                </div>

                <div class="space-after"></div>

                <div class="row">
                  <div class="col-md-4"></div>
                  <button id="tracks-button" type="submit" data-toggle="modal" data-target="#success-prompt" onclick="addTracks();" class="tracks-button col-md-4 btn">Add tracks!</button>
                </div>

            </div>
            <!-- END LOGO AND SUBMIT PANE -->

          </div>
          <!--  END TOP SECTION -->

          <!--  MIDDLE SECTION -->
          <div class="row">
            <div class="col-md-2"></div>

            <!-- MAJOR/MINOR SWITCH -->
            <div class="col-md-1" onclick="getRecommendations();">
              <label class="switch">
                <input id="mode-value" type="checkbox" checked />
                <span class="mode-slider round"></span>
              </label>
            </div>
            <!-- END MAJOR/MINOR SWITCH -->

            <!-- GENRES BUTTON -->
            <button class="btn col-md-3" data-toggle="modal" data-target="#genre-select" onclick="getGenresList();">Choose genres</button>
            <!-- END GENRES BUTTON -->

            <!-- TEMPO SLIDER -->
            <div class="tempo-section col-md-4">
              <span class="tempo-value" id="tempo-value"></span>
              <div class="tempo-slider" id="tempo-slider"></div>
            </div>
            <!-- END TEMPO SLIDER -->

          </div>
          <!--  END MIDDLE SECTION -->

          <!--  FADERS SECTION -->
            <div class="row">
              <div class="col-md-2"></div>
              <div id="popularity" class="prefs-section col-md-1">
                <span class="prefs-value" id="popularity-value"></span>
                <div class="prefs-slider" id="popularity-slider"></div>
              </div>
              <div id="positivity" class="prefs-section col-md-1">
                <span class="prefs-value" id="positivity-value"></span>
                <div class="prefs-slider" id="positivity-slider"></div>
              </div>
              <div id="energy" class="prefs-section col-md-1">
                <span class="prefs-value" id="energy-value"></span>
                <div class="prefs-slider" id="energy-slider"></div>
              </div>
              <div id="acousticness" class="prefs-section col-md-1">
                <span class="prefs-value" id="acousticness-value"></span>
                <div class="prefs-slider" id="acousticness-slider"></div>
              </div>
              <div id="danceability" class="prefs-section col-md-1">
                <span class="prefs-value" id="danceability-value"></span>
                <div class="prefs-slider" id="danceability-slider"></div>
              </div>
              <div id="instrumentalness" class="prefs-section col-md-1">
                <span class="prefs-value" id="instrumentalness-value"></span>
                <div class="prefs-slider" id="instrumentalness-slider"></div>
              </div>
              <div id="liveness" class="prefs-section col-md-1">
                <span class="prefs-value" id="liveness-value"></span>
                <div class="prefs-slider" id="liveness-slider"></div>
              </div>
              <div id="speechiness" class="prefs-section col-md-1">
                <span class="prefs-value" id="speechiness-value"></span>
                <div class="prefs-slider" id="speechiness-slider"></div>
              </div>
            </div>
          <!-- END FADERS SECTION -->

          <div class="space-after"></div>

          <!-- NEW PLAYLIST BUTTON -->
          <div class="row">
            <div class="col-md-1"></div>
            <button id="submit-button" type="submit" data-toggle="modal" data-target="#playlist-setup" class="submit-button col-md-4 btn">Create new playlist</button>
            <div class="col-md-2"></div>
          </div>
          <!-- END NEW PLAYLIST BUTTON -->

        </div>
        <!--  BOTTOM OF CARD -->
      </div>

        <!--  MODALS -->

          <!-- GENRE MODAL -->
          <div class="modal fade" id="genre-select">
            <div class="modal-dialog">
              <div class="modal-content">

                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Select genres</h4>
                  <p>Make sure you hit 'Okay' button at bottom!</p>
                </div>

                <div class="modal-body">
                  <div id="genres-list" data-toggle="buttons">
                    <label class="btn">
                      <!-- Buttons for each genre to be appended here -->
                    </label>
                  </div>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn" data-dismiss="modal" onclick="getRecommendations();">Okay!</button>
                </div>

              </div>
            </div>
          </div>
          <!--  END GENRE MODAL -->

          <!-- PLAYLIST SETUP MODAL -->
          <div class="modal fade" id="playlist-setup">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Please provide the following information:</h4>
                </div>
                <div class="form">
                  <div class="modal-body">
                    <div class="form-group">
                      <label for="playlist-name">Playlist Name</label>
                      <input type="text" class="form-control" id="playlist-name" placeholder="Playlist Name">
                    </div>
                    <div class="form-group">
                      <label for="playlist-description">Give your playlist a description...</label>
                      <textarea type="text" class="form-control" id="playlist-description" rows="3"></textarea>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" type="submit" class="btn" data-dismiss="modal" onclick="newPlaylist();">Create Playlist</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END PLAYLIST SETUP MODAL -->

          <!--  SUCCESS MODAL -->

          <div class="modal fade" id="success-prompt">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">
                    <p>Enter your email address to get the playlist when its all finished!</p>
                  </h4>
                </div>
                <form>
                  <div class="modal-body">
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="text" class="form-control" id="email" placeholder="Email">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal" onclick="submitEmail();">Thank you!</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!--  END SUCCESS MODAL -->

        <!--  END MODALS-->

      <div class="col-md-4"></div>
        <button style="margin-bottom: 3rem;" id="clear-button" type="submit" class="clear-button col-md-4 btn">Clear Locals</button>
      <div class="col-md-4"></div>

    </div>
<% include _footer %>
